{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">
    About Our <b class="txt-mycolor">Company <i class="fa-regular fa-address-card"></i></b>
    <hr/></div>
<div>
    <center>There are multiple reason to choose us for multiple purpose realated to your IT.
        Believe me you</center>
    <center>will find us best suitable</center></div><br/><br/>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <a href="#"><video controls src="{%  static 'images/video2.mp4' %}"
                          height="300px"width="500px" muted poster="{% static 'images/poster1.png' %}"></video></a>
    </div>
    <div class="col-sm-4">
        <h5>welcome to Techpile ,just here is some little word todescribe our work scope</h5>
        <p style="font-size:18px;">Techpilenis founded by some young engineers who have mastered the It sector whose
        objective is to achieve the highiest position in the IT sector the country ,who are trying
        to achieve this object by cooperating in various fields </p><br/><br/>
        <p style="font-size:18px;">Techpile is an organization working in both software develoved and software tranning which
        aims to make all the special of it's client successful thought their coding as well as to
        make student more compentent to work with a well reputed organization</p>
        <input type="submit" value="Contact Us" class="btn btn btn-outline-warning"/><br/><br/>
    <br/><br/>
    </div>

    <div class="col-sm-2"></div><br/>
    <div class="text-center fs-2">
     Our <b class="text-warning">Certification</b>
        <p style="font-size:18px;">we are authorized by Ministry of Corporate Affairs and ISO</p>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <img src="{% static 'images/cirtificate.png'  %}" height="600px" width="1000px"/>
        </div>
        <div class="col-sm-3"></div>
    </div><br/><br/>

     <div class="text-center fs-2">
     We <b class="text-warning">Believe</b>
        <p style="font-size:18px;" >We believe to make IT industry More reliable for people</p>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 ps-5">

    <h1>Our Vision</h1>
    <p style="font-size:18px;" >our Vision is to be leading Web Solution company in IT sector and progress in our
    position in marcket We know that costomer's growth is our groth .so we commit our costomer
        to help in achieving their business goals .We believe in work the Accuracy and best quality</p>
<br/><br/>
        <h1>Our Mission</h1>
    <p style="font-size:18px;" >our Vision is to be leading Web Solution company in IT sector and progress in our
    position in marcket We know that costomer's growth is our groth .so we commit our costomer
        to help in achieving their business goals .We believe in work the Accuracy and best quality</p>
<br/><br/>
        <h1>Our work Scope</h1>
    <p style="font-size:18px;" >our Vision is to be leading Web Solution company in IT sector and progress in our
    position in marcket We know that costomer's growth is our groth .so we commit our costomer
        to help in achieving their business goals .We believe in work the Accuracy and best quality</p>
<br/><br/>

    </div>
    <div class="col-sm-3"></div>
    </div>
</div>

{% endblock %}