{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Sign<b class="txt-mycolor">Up</b></div>

<style>
#outer
{
height:650px;
width:500px;
background:black;
margin:0px auto;
padding-top:30px;
padding-left:50px;
box-sizing:border-box;
}
#a
{
height:550px;
width:400px;
background:white;
box-sizing:border-box;
padding-left:50px;
}
#a1
{
height:100px;
width:400px;
text-align:;
padding-right:50px;
padding-left:50px;
padding-top:5px;
}
.m2
{

height:50px;
width:300px;
box-sizing:border-box;
}
#a2
{

height:50px;
width:300px;
color:white;
padding-top:10px;
text-decoration:none;
font-size:20px;
background:gray;
box-sizing:border-box;
}
#a3
{
padding-top:20px;
}
</style>

<body>
<div id="outer">
<div id="a">

<div >Username<br/><input class="m2" type="text"/></div>
<div >Email Address<br/><input class="m2" type="text"/></div>
<div >password<br/><input class="m2" type="password"/></div>
<div >Confirm Password<br/><input class="m2" type="password"/></div><br/>
 <div id="a2"><center> Sing In</center></div>
<div id="a3">By clicking the Sign In button you agree to our<center> Terms & condition
and Privacy </center></div>
</div>
<center style="color:white;padding-top:25px; padding-right:25px;">Alredy login  account?
    <a href="#" >Click here</a></center>
</div>

</body>


{% endblock %}















