{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<style>
    .form-control
    {
    height:50px;
    background:#f2f2f2;
    margin-bottom:3%;
    background-image: -webkit-linear-gradient(495deg,
    blue 20%, aqua 60%);
    min-height:2px; 
    box-shadow: 5px 5px 5px black
    }
    .btn
    {
        box-shadow: 5px 5px 5px black;
    }
</style>
<div class="text-center fs-2">
    Student<b class="txt-mycolor1"> Login <i class="fa-regular fa-address-card fa-spin"></i></b>
   </div>
<div class="row">
    <div class="col-sm-6 mx-auto">
        <form method="post">
            {% csrf_token %}
            USERNAME<input type="email" name="email" required placeholder="USERNAME.." class="form-control">
            PASSWORD<input type="password" name="passwd" required placeholder="USERNAME.." class="form-control">
            <input type="submit" value="LOGIN" class="btn bg-mycolor1"/>
        </form>
    </div>

</div>
{% endblock %}